Ejercicio 1: Transformar cadenas

In [ ]:
"text = \"\"\"Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. \n",
        "On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.\"\"\""

## Divide el texto

In [53]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. he highest daylight temperature of the Moon is 127 C."""

text .split('.' )

text

"Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. he highest daylight temperature of the Moon is 127 C."

# Define las palabras pista: average, temperature y distance suenan bien

In [54]:
palabras_claves = ["average", "temperature", "distance"]
palabra_moon =  ["moon"]

## Ciclo

In [55]:
for ciclo in text:
    for palabra_moon in palabras_claves:
        if palabra_moon in ciclo:
            print(ciclo)
            break

# Ciclo para cambiar C a Celsius

In [37]:

for ciclo in text:
    for palabra_celsius in palabras_claves:
        if palabra_celsius in ciclo:
            print(ciclo.replace(' C', ' Celsius'))
            break

Ejercicio 2

# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [41]:
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

# Creamos el título

In [48]:
titulo = f'datos de gravedad sobre {name}'

In [49]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

In [60]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

Datos muestra:

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [61]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [62]:
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [64]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [65]:
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2